* {
  width: 100%;
  margin: auto;
  font-family: "Mont", sans-serif;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px;
  background-color: #161b21;
  width: 100%;
}

.header h1 {
  color: white;
  font-weight: 300;

  font-style: normal;
}

.search {
  display: flex;
  flex-direction: row;
  color: #5d656f;
  border-bottom: solid 2px #29323d;
}

.search img {
  width: 28px;
  height: 28px;
}

.header input[type="text"] {
  background-color: #161b21;

  padding: 6px;
  margin: 0;
  border: none;
  font-size: 17px;
  width: 200px;
}

.header button {
  background-color: #161b21;
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
  border: none;
}

section {
  margin-left: 250px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
}

section span {
  color: white;
  font-weight: 300;
  font-size: 26px;
}

section p {
  font-size: 14px;
  color: #83868b;
}

section img {
  width: 25px;
  height: 25px;
  position: relative;
  top: 4px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.user {
  color: #cad1da;
  padding: 15px;
  width: 55px;
  border: solid 2px #cad1da;
  border-radius: 50%;
  cursor: pointer;
}

.cart {
  color: #2aefc3;
  padding: 15px;
  width: 55px;
  border: solid 2px #2aefc3;
  border-radius: 50%;
  cursor: pointer;
}

.icon-btn-img {
  width: 20px;
  height: 20px;
}

.navbar {
  display: flex;
  gap: 17px;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  height: 60px;
  background-color: #29323d;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 5px;
  font-size: 16px;
  white-space: nowrap;
}

.navbar img {
  width: 24px;
  height: 24px;
}

.navbar span {
  position: relative;
  bottom: 3px;
}
